.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    border-color: #FF5324 !important;
    background-image: linear-gradient(180deg, #FF8F50, #FF5324);
    box-shadow: #f344146e 0px 3px 54px;
    border: .2px solid #fff !important;
}
.img_container {
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container .feature_left {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.img_container:hover .feature_left {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    align-items: start;
    text-align: start;
    background-image: linear-gradient(to bottom, #0000002c, #f3d1d125);
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.overlay:hover {
    text-decoration: underline;
}